#wrapper {
    padding: 30px;
    padding-right: 10vw;
    padding-left: 10vw;
}

#story-wrapper *{
    margin: auto;
}

#comments-wrapper {
    margin: auto;
}

#comment-inputs textarea, #comment-inputs input{
    width: 100%;
}

#story-main-img {
    display: block;
    max-width: 80vw;
    max-height: 80vh;
    padding: 10px;
}

#story-title {
    padding: 7px;
    font-size: 36pt;
    font-weight: bold;
}

#story-info {
    padding-left: 20px;
}

#story-content {
    padding: 10px;
    font-size: 18pt;
}

#comment-inputs textarea {
    margin-top: 4px;
    resize: none;
    height: 100px;
}

#comment-submit input {
    width: initial;
}

.comment-block {
    margin: 5px;
    padding: 5px;
}

.comment-author {
    font-weight: bold;
    font-size: 14pt;
}

.comment-date {
    color: gray;
}

.comment-text {
    font-size: 12pt;
}
