.articles-list {
    padding: 25px;
}

.article-wrapper {
    padding: 5px;
    display: block;
    margin: auto;
    width: 80vw;
    border: 1px solid lightgray;
    box-shadow: 2px 2px darkgray;
    margin-bottom: 30px;
}

.article-wrapper:hover {
    background-color: #eee;
}

.article-main:hover, .leftvote-icon, .rightvote-icon {
    cursor: pointer;
}

.article-text-td {
    padding-left: 20px;
}

.article-wrapper-header {
    margin: 2px;
    border-bottom: 1px solid lightgray;
}

.article-votes {
    float: left;
    padding-left: 10px;
}

.article-category {
    float: right;
    padding-right: 10px;
}

.article-img {
    width: 25vw;
    margin: 5px;

}

.article-clickables-wrapper {
    float: right;
}

.article-clickables-wrapper td {
    padding-left: 10px;
    padding-right: 10px;
}
